<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glriverside.menus.mapper.MenuMapper">

    <select id="getAllMenus" resultMap="Menus">
        select
            m1.id AS m1_id,
            m1.`name` AS m1_name,
            m1.info AS m1_info,
            m1.menu_type AS m1_menu_type,
            m1.creat_time AS m1_creat_time,
            m1.update_time AS m1_update_time,

            m2.id AS m2_id,
            m2.`name` AS m2_name,
            m2.info AS m2_info,
            m2.menu_type AS m2_menu_type,
            m2.creat_time AS m2_creat_time,
            m2.update_time AS m2_update_time,

            m3.id AS m3_id,
            m3.`name` AS m3_name,
            m3.info AS m3_info,
            m3.menu_type AS m3_menu_type,
            m3.creat_time AS m3_creat_time,
            m3.update_time AS m3_update_time
        from m_menu m1
                 left join m_menu_firmenu m12
                           on m1.id=m12.menu_id
                 left join  m_fir_menu m2
                            on m12.firmenu_id =m2.id
                 left join m_firmenu_secmenu m23
                           on m2.id =m23.firmenu_id
                 left join m_sec_menu m3
                           on m23.secmenu_id =m3.id
        where m1.id in (
            select menu_id from m_role_menu rm where rm.role_id =#{roleId}
        )
    </select>
    <resultMap id="Menus" type="com.glriverside.menus.vo.ZeroMenu">

        <id property="id" column="m1_id"/>
        <result property="name" column="m1_name"/>
        <result property="info" column="m1_info"/>
        <result property="menuType" column="m1_menu_type"/>
        <result property="creatTime" column="m1_creat_time"/>
        <result property="updateTime" column="m1_update_time"/>
        <collection property="firstMenuList"  ofType="com.glriverside.menus.vo.FirstMenu" resultMap="firmenus">
        </collection>
    </resultMap>
    <resultMap id="firmenus" type="com.glriverside.menus.vo.FirstMenu">
        <id property="id" column="m2_id"/>
        <result property="name" column="m2_name"/>
        <result property="info" column="m2_info"/>
        <result property="menuType" column="m2_menu_type"/>
        <result property="creatTime" column="m2_creat_time"/>
        <result property="updateTime" column="m2_update_time"/>
        <collection property="secondMenuList" ofType="com.glriverside.menus.vo.SecondMenu" >
            <id property="id" column="m3_id"/>
            <result property="name" column="m3_name"/>
            <result property="info" column="m3_info"/>
            <result property="menuType" column="m3_menu_type"/>
            <result property="creatTime" column="m3_creat_time"/>
            <result property="updateTime" column="m3_update_time"/>
        </collection>
    </resultMap>
</mapper>
